<h1> My name is <%= @name %> </h1>

<div style= 'border: dashed red;'>
  <img src='http://f.cl.ly/items/0k0v3e2X3l2f3i1n1Y19/Screen%20Shot%202013-09-10%20at%2011.32.00.png'>
</div>

<form action="/named-cat" method="post">
  <label for "name">Name:</label>
  <input type= 'text' name= 'name'>
  <input type= 'submit' name= 'Submit'>
</form>